<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password - FreshCorners</title>
    <link rel="stylesheet" href="../static/css/logsign.css">
    <style>
        .image-placeholder {
            background-image: url('../static/image/3.jpg');
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Left side with image and description -->
        <div class="left">
            <div class="image-placeholder">
                <!-- Insert your image here -->
            </div>
            <div class="description">
                <h2>Best facility for Student</h2>
                <p>We prepare healthy and delicious meal to the student with top facility. You can trust us😉👍!!</p>
            </div>
        </div>
        
        <!-- Right side with the form -->
        <div class="right">
            <div class="header">
                <h1>FreshCorners</h1>
                <h3>Forget something...?</h3>
            </div>
            <form>
                <label for="username">User name or Email</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <label for="password">Confirm Password</label>
                <input type="password" id="cfpassword" name="cfpassword" required>

                <button type="submit" class="sign-in-button">Update</button>

                <div class="create-account">
                    <p>Already a member of FreshCorners? <a href="login.html">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
