<!-- Example HTML File -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Details</title>
    <link rel="stylesheet" href="../static/css/headstyle.css">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <!-- Placeholder for Header -->
    <div id="header-placeholder"></div>
    <section class="today-discounts">
        <div class="header-with-buttons">
            <h2>Today Discounts</h2>
            <div class="carousel-nav-buttons">
                <button class="carousel-nav left"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="carousel-nav right"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="discount-carousel">
            
            <div class="discounts-container">
                    <div class="discount-card">
                        <img src="../static/image/6.jpg" alt="Fried Chicken">
                        <div class="">
                            <h3>Fried Chicken</h3>
                            <p>4500 <s>5200</s> MMK</p>
                            <div class="actions">
                              <button><i class="fa-solid fa-heart"></i></button>
                              <button><i class="fa-solid fa-eye"></i></button>
                          </div>
                        </div>   
                    
                </div>
                <div class="discount-card">
                    <img src="../static/image/6.jpg" alt="Fried Chicken">
                    <div class="">
                        <h3>Fried Chicken</h3>
                        <p>4500 <s>5200</s> MMK</p>
                        <div class="actions">
                          <button><i class="fa-solid fa-heart"></i></button>
                          <button><i class="fa-solid fa-eye"></i></button>
                      </div>
                    </div>
                </div>
                <div class="discount-card">
                    <img src="../static/image/6.jpg" alt="Fried Chicken">
                    <div class="">
                        <h3>Fried Chicken</h3>
                        <p>4500 <s>5200</s> MMK</p>
                        <div class="actions">
                          <button><i class="fa-solid fa-heart"></i></button>
                          <button><i class="fa-solid fa-eye"></i></button>
                      </div>  
                    </div>
                </div>
                <div class="discount-card">
                    <img src="../static/image/6.jpg" alt="Fried Chicken">
                    <div class="">
                        <h3>Fried Chicken</h3>
                        <p>4500 <s>5200</s> MMK</p>
                        <div class="actions">
                          <button><i class="fa-solid fa-heart"></i></button>
                          <button><i class="fa-solid fa-eye"></i></button>
                      </div>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <section class="food-section">
        <h1>Popular Delicious Foods</h1>
        <div class="food-container">
          <!-- Food Card 1 -->
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Dessert</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Repeat similar blocks for other cards -->
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Dessert</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Beef</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Dessert</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Chicken</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Dessert</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Beef</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="food-card">
            <img src="../static/image/6.jpg" alt="Dish 2">
            <div class="food-info">
              <div class="food-details">
                <div class="rating">★★★★★ 4.5</div>
                <div class="category">Snack</div>
              </div>
              <h3>Fried Chicken</h3>
              <p class="price">5200 MMK</p>
              <div class="actionss">
                <button class="add-to-cart">Add to Cart</button>
                <div class="other-actions">
                    <button><i class="fa-solid fa-heart"></i></button>
                    <button><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- More food cards as needed -->
        </div>
      </section>
      <section clsss="card-sec">
            <div class="card-container">
            <!-- Weekly Best Seller Card -->
            <div class="card">
                <p class="tag">Weekly Best Seller</p>
                <div class="content">
                    <div class="text">
                        <h2>Fried Chicken</h2>
                        <p class="price">5200 MMK</p>
                        <div class="icons">
                            <button><i class="fa-solid fa-heart"></i></button>
                            <button><i class="fa-solid fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="image-placeholder">
                        <img src="../static/image/6.jpg" alt="Dish 2">
                    </div>
                </div>
            </div>
    
            <!-- Today Best Discount Card -->
            <div class="card">
                <p class="tag">Today Best Discount</p>
                <div class="content">
                    <div class="text">
                        <h2>Fried Chicken</h2>
                        <p class="price"><span class="old-price">5200</span> 4500 MMK</p>
                        <div class="icons">
                            <button><i class="fa-solid fa-heart"></i></button>
                            <button><i class="fa-solid fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="image-placeholder">
                        <img src="../static/image/6.jpg" alt="Dish 2">
                    </div>
                </div>
            </div>
            </div>
    </section>
    <section class="stats">
        <div class="stats-section">
            <div class="stat-item">
                <div class="circle">
                    <p class="number">345 +</p>
                </div>
                <div class="icon-label">
                    <div class="icon-placeholder"><i class="fa-solid fa-bowl-food"></i></div>
                    <p>Menus</p>
                </div>
            </div>
    
            <div class="stat-item">
                <div class="circle">
                    <p class="number">345 +</p>
                </div>
                <div class="icon-label">
                    <div class="icon-placeholder"><i class="fa-solid fa-people-group"></i></div>
                    <p>Customers</p>
                </div>
            </div>
    
            <div class="stat-item">
                <div class="circle">
                    <p class="number">345 +</p>
                </div>
                <div class="icon-label">
                    <div class="icon-placeholder"><i class="fa-solid fa-gem"></i></div>
                    <p>Best Menus</p>
                </div>
            </div>
    
            <div class="stat-item">
                <div class="circle">
                    <p class="number">5 +</p>
                </div>
                <div class="icon-label">
                    <div class="icon-placeholder"><i class="fa-solid fa-user-large"></i></div>
                    <p>Staff</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Section with Title -->
    <!-- <div class="header-image">
        <img src="../static/image/4.jpeg" alt="Menu Image">
        <div class="page-title">
            <h1>Menu Details</h1>
        </div>
    </div> -->
    
    <div id="footer-placeholder"></div>

    <script src="../static/js/headfoot.js"></script>

</body>
</html>
