<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - FreshCorners</title>
    <link rel="stylesheet" href="../static/css/logsign.css">
    <style>
        .image-placeholder {
            background-image: url('../static/image/2.jpg');
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Left side with image and description -->
        <div class="left">
            <div class="image-placeholder">
                <!-- Insert your image here -->
            </div>
            <div class="description">
                <h2>Tasty and Declicious meals</h2>
                <p>Try out the delicious meals prepare by our staff with love and care. Delicious !!♡.</p>
            </div>
        </div>
        
        <!-- Right side with the form -->
        <div class="right">
            <div class="header">
                <h1>FreshCorners</h1>
                <h3>Become a member of FreshCorners for delicious meals!</h3>
            </div>
            <form>
                <label for="username">User name or Email</label>
                <input type="text" id="username" name="username" required>

                <label for="username">Email</label>
                <input type="text" id="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <label for="password">Confirm Password</label>
                <input type="password" id="cfpassword" name="cfpassword" required>

                <label for="username">Phone number</label>
                <input type="text" id="phnum" name="phnum" required>

                <button type="submit" class="sign-in-button">Sign up</button>

                <div class="create-account">
                    <p>Member to FreshCorners? <a href="login.html">Sign in</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
