# Python
*.pyc
__pycache__/

# Django
*.sqlite3  # No longer needed since you're using PostgreSQL
db.sqlite3  # Remove any old SQLite files
/media/  # Ignore user-uploaded files in development
*.log  # Ignore log files

# PostgreSQL (optional, for local dev setup)
*.pgsql  # Ignore any exported PostgreSQL dump files, if created

# Environment Variables
.env  # Store sensitive data like DB credentials, secret key

# Virtual Environment
venv/
env/

# IDE files
.idea/
.vscode/

# System Files
*.DS_Store  # macOS
Thumbs.db  # Windows

# Other
*.bak
*.swp
