{% extends "base.html" %}
{% block style_block %}
<style>



</style>
{% endblock style_block %}
{% block main %}
<section class="food_section layout_padding-bottom mt-5">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>

        <!-- Search Form -->
        <form method="get" action="{% url 'menu:menu_list' %}" class="mb-4 mt-4">
            <input type="text" name="q" class="form-control" placeholder="Search for menu items..."
                value="{{ request.GET.q|default:'' }}">
        </form>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            {% for category in categories %}
            <li data-filter=".{{ category.name|slugify }}">{{ category.name }}</li>
            {% endfor %}
        </ul>

        <div class="filters-content">
            <div class="row grid">
                {% for item in menu_items %}
                <div class="col-sm-6 col-lg-4 all {{ item.category.name|slugify }}">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <a href="{% url 'menu:menu_detail' item.id %}"><img src="{{ item.photo.url }}"
                                        alt="{{ item.item_name }}"></a>
                            </div>
                            <div class="detail-box">
                                <h5>{{ item.item_name }}</h5>
                                <p>{{ item.description }}</p>
                                <div class="options">
                                    <h6>
                                        ${{ item.price }}
                                        <span class="{% if item.stock > 0 %} text-success {% else %} text-danger {% endif %}">
                                            {% if item.stock > 0 %}
                                             : Available
                                            {% else %}
                                             : Not Available
                                            {% endif %}
                                        </span>
                                    </h6>
                                    <button onclick="addToCart({{ item.id }})" class="atc"> <i class="fa-solid fa-cart-shopping"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>

    function addToCart(itemId) {
        fetch(`/orders/cart/add/${itemId}/`, {  // Updated to point to 'order' app
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                }
                // Update cart count dynamically
                document.getElementById('cart-count').textContent = data.cart_count;
            });
    }
</script>
{% endblock main %}

