
    <div class="footer">
        <div class="footer-content">
            <!-- Left Section -->
            <div class="footer-section">
                <div class="logo-f"><p>FreshCorners</p></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facere delectus qui placeat inventore consectetur repellendus optio delectus.</p>
            </div>
            
            <!-- Middle Section -->
            <div class="footer-section">
                <h3>Short Link</h3>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="cartDetaill.html">My Order</a></li>
                    <li><a href="profile.html">My Profile</a></li>
                </ul>
            </div>

            <!-- Right Section -->
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p class="contactinfo"><i class="fa-solid fa-phone"></i>+959 333 44 7762</p>
                <p class="contactinfo"><i class="fa-solid fa-envelope"></i>canteen@gmail.com</p>
                <p class="contactinfo"><i class="fa-solid fa-location-dot"></i>No1, Main Road, Yangon</p>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>Copyright © Canteen 2024. All Rights Reserved</p>
        </div>
    </div>
